// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment_show{
	text-align:center;
	border-top: 1pt solid black;
}
.comments_table{
	width:auto !important;
	text-align:left;
	left-padding:5px;
}